/******************************************************************
Site Name: Free Minecraft Wordpress Theme
Author: Andrew Vieau

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

#desc {
        right:26%;
}