/******************************************************************
Site Name: 
Author: 

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/*
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't 
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
*/
/* import mixins */
/******************************************************************
Site Name:
Author:

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of Sass' great features:
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques like box shadow and
border-radius.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

******************************************************************/
/*********************
CLEARFIXIN'
*********************/
/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */
/* line 24, ../scss/_mixins.scss */
.clearfix {
  zoom: 1;
}
/* line 26, ../scss/_mixins.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 30, ../scss/_mixins.scss */
.clearfix:after {
  clear: both;
}

/*********************
TOOLS
*********************/
/* http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/ */
/* line 41, ../scss/_mixins.scss */
.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* apply a natural box layout model to all elements: http://paulirish.com/2012/box-sizing-border-box-ftw/ */
/* line 48, ../scss/_mixins.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*********************
TYPOGRAPHY
*********************/
/* 	To embed your own fonts, use this syntax
	and place your fonts inside the
	library/fonts folder. For more information
	on embedding fonts, go to:
	http://www.fontsquirrel.com/
	Be sure to remove the comment brackets.
*/
/*	@font-face {
    	font-family: 'Font Name';
    	src: url('library/fonts/font-name.eot');
    	src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
    	font-weight: normal;
    	font-style: normal;
	}
*/
/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
/* line 108, ../scss/_mixins.scss */
span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic;
}

/* text alignment */
/* line 114, ../scss/_mixins.scss */
.text-left {
  text-align: left;
}

/* line 115, ../scss/_mixins.scss */
.text-center {
  text-align: center;
}

/* line 116, ../scss/_mixins.scss */
.text-right {
  text-align: right;
}

/* alerts & notices */
/* line 120, ../scss/_mixins.scss */
.alert-help, .alert-info, .alert-error, .alert-success {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
}

/* line 126, ../scss/_mixins.scss */
.alert-help {
  border-color: #e8dc59;
  background: #ebe16f;
}

/* line 132, ../scss/_mixins.scss */
.alert-info {
  border-color: #bfe4f4;
  background: #d5edf8;
}

/* line 138, ../scss/_mixins.scss */
.alert-error {
  border-color: #f8cdce;
  background: #fbe3e4;
}

/* line 144, ../scss/_mixins.scss */
.alert-success {
  border-color: #deeaae;
  background: #e6efc2;
}

/*********************
BORDER RADIUS
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include border-radius(4px 4px 0 0);
*/
/*********************
TRANISTION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
BOX SHADOWS
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include box-shadow(inset 0 0 4px rgba(0,0,0,0.22));
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdue it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/*********************
BUTTONS
*********************/
/* line 250, ../scss/_mixins.scss */
.button, .button:visited {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid #836042;
  border-top-color: #976e4c;
  border-left-color: #976e4c;
  padding: 4px 12px;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  margin-bottom: 20px;
  line-height: 21px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  -border-radius: 4px;
  border-radius: 4px;
  background-color: #9e7350;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ac805b), to(#9e7350));
  background-image: -webkit-linear-gradient(top, #ac805b, #9e7350);
  background-image: -moz-linear-gradient(top, #ac805b, #9e7350);
  background-image: -o-linear-gradient(top, #ac805b, #9e7350);
  background-image: linear-gradient(to bottom, #ac805b, #9e7350);
}
/* line 269, ../scss/_mixins.scss */
.button:hover, .button:focus, .button:visited:hover, .button:visited:focus {
  color: white;
  border: 1px solid #836042;
  border-top-color: #6b4e36;
  border-left-color: #6b4e36;
  background-color: #8d6747;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9e7350), to(#8d6747));
  background-image: -webkit-linear-gradient(top, #9e7350, #8d6747);
  background-image: -moz-linear-gradient(top, #9e7350, #8d6747);
  background-image: -o-linear-gradient(top, #9e7350, #8d6747);
  background-image: linear-gradient(to bottom, #9e7350, #8d6747);
}
/* line 277, ../scss/_mixins.scss */
.button:active, .button:visited:active {
  background-color: #ac805b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9e7350), to(#ac805b));
  background-image: -webkit-linear-gradient(top, #9e7350, #ac805b);
  background-image: -moz-linear-gradient(top, #9e7350, #ac805b);
  background-image: -o-linear-gradient(top, #9e7350, #ac805b);
  background-image: linear-gradient(to bottom, #9e7350, #ac805b);
}

/* line 282, ../scss/_mixins.scss */
.blue-button, .blue-button:visited {
  border-color: #1472ad;
  text-shadow: 0 1px 1px #1472ad;
  background-color: #1681c4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1990db), to(#1681c4));
  background-image: -webkit-linear-gradient(top, #1990db, #1681c4);
  background-image: -moz-linear-gradient(top, #1990db, #1681c4);
  background-image: -o-linear-gradient(top, #1990db, #1681c4);
  background-image: linear-gradient(to bottom, #1990db, #1681c4);
  -webkit-box-shadow: inset 0 0 3px #59b3ec;
  -moz-box-shadow: inset 0 0 3px #59b3ec;
  -ms-box-shadow: inset 0 0 3px #59b3ec;
  -o-box-shadow: inset 0 0 3px #59b3ec;
  -box-shadow: inset 0 0 3px #59b3ec;
  box-shadow: inset 0 0 3px #59b3ec;
}
/* line 288, ../scss/_mixins.scss */
.blue-button:hover, .blue-button:focus, .blue-button:visited:hover, .blue-button:visited:focus {
  border-color: #116396;
  background-color: #1472ad;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1784c9), to(#1472ad));
  background-image: -webkit-linear-gradient(top, #1784c9, #1472ad);
  background-image: -moz-linear-gradient(top, #1784c9, #1472ad);
  background-image: -o-linear-gradient(top, #1784c9, #1472ad);
  background-image: linear-gradient(to bottom, #1784c9, #1472ad);
}
/* line 292, ../scss/_mixins.scss */
.blue-button:active, .blue-button:visited:active {
  background-color: #1990db;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1681c4), to(#1990db));
  background-image: -webkit-linear-gradient(top, #1681c4, #1990db);
  background-image: -moz-linear-gradient(top, #1681c4, #1990db);
  background-image: -o-linear-gradient(top, #1681c4, #1990db);
  background-image: linear-gradient(to bottom, #1681c4, #1990db);
}

/******************************************************************
Site Name: Free Minecraft Wordpress Theme
Author: Andrew Vieau

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to 
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection. 

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/
/*********************
Something Something
*********************/
/* line 22, ../scss/_481up.scss */
.header {
  background: url("../images/mc_header.jpg") center top repeat-x;
  background-size: 100%;
  min-height: 356px;
}

/* line 29, ../scss/_481up.scss */
.footer {
  background: url("../images/mc_footer.jpg") center top no-repeat;
  height: 446px;
  color: white;
}

/* line 38, ../scss/_481up.scss */
.menu ul {
  margin: 0 auto;
  width: 400px;
}
/* line 43, ../scss/_481up.scss */
.menu ul li {
  height: 40px;
  text-align: center;
  margin-bottom: 10px;
  padding-top: 7px;
}
/* line 50, ../scss/_481up.scss */
.menu ul li a {
  border: none;
  color: white;
  height: 40px;
  max-width: 400px;
  background: url("../images/mc_button.jpg");
  background-size: 100% 100%;
  display: block;
  vertical-align: middle;
  padding-top: 7px;
  text-decoration: none;
  text-shadow: 2px 2px 2px #000;
}
/* line 64, ../scss/_481up.scss */
.menu ul li a:hover {
  background: url("../images/mc_button_hover.jpg");
  color: #FFFFA0;
}

/* line 73, ../scss/_481up.scss */
.eightcol {
  width: 65.74585634900001%;
}

/* 65.4%;  } /* grid_8  */
/*********************
NAVIGATION STYLES
*********************/
/* line 81, ../scss/_481up.scss */
.nav {
  /* .menu is clearfixed inside mixins.scss */
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */
}
/* line 85, ../scss/_481up.scss */
.nav li {
  /*
  plan your menus and drop-downs wisely.
  */
}
/* line 86, ../scss/_481up.scss */
.nav li a {
  max-width: 400px;
  margin: 0 auto;
  /*
  you can use hover styles here even though this size
  has the possibility of being a mobile device.
  */
}

/*********************
POSTS & CONTENT STYLES
*********************/
/* post content */
/* line 133, ../scss/_481up.scss */
.post-content {
  /* at this larger size, we can start to align images */
}
/* line 137, ../scss/_481up.scss */
.post-content .alignleft, .post-content img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left;
}
/* line 142, ../scss/_481up.scss */
.post-content .alignright, .post-content img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right;
}
/* line 147, ../scss/_481up.scss */
.post-content .aligncenter, .post-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}

/* end .post-content */
/*********************
FOOTER STYLES
*********************/
/*
check your menus here. do they look good?
do they need tweaking?
*/
/* end .footer-links */
/******************************************************************
Site Name: Free Minecraft Wordpress Theme
Author: Andrew Vieau

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
/*********************
GENERAL STYLES
*********************/
/*********************
LAYOUT & GRID STYLES
*********************/
/* line 26, ../scss/_768up.scss */
.wrap {
  max-width: 1140px;
}

/*********************
HEADER SYTLES
*********************/
/*********************
NAVIGATION STYLES
*********************/
/* line 42, ../scss/_768up.scss */
#desc {
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  color: #FFFF00;
  position: absolute;
  right: 15%;
  top: 110px;
  font-weight: bold;
  padding: 2px 4px;
  text-shadow: 0px 2px 2px #000;
  width: 300px;
  margin: auto;
  height: auto;
  overflow: visible;
}

/* line 59, ../scss/_768up.scss */
.top-nav {
  margin-top: 80px;
}

/* line 63, ../scss/_768up.scss */
.nav {
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */
}
/* line 66, ../scss/_768up.scss */
.nav li {
  float: left;
  position: relative;
  /*
  plan your menus and drop-downs wisely.
  */
  /* showing sub-menus */
}
/* line 70, ../scss/_768up.scss */
.nav li a {
  /*
  display: block;
  text-decoration: none;
  padding: 10px 10px;
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  */
  border: none;
  color: white;
  height: 100px;
  min-width: 100px;
  background: url("../images/pocket_button_small.jpg") center top no-repeat;
  background-size: 100% 100%;
  display: block;
  vertical-align: middle;
  text-align: center;
  padding: 17px 15px 0px 15px;
  margin: 10px 10px 10px 10px;
  text-decoration: none;
  text-shadow: 2px 2px 2px #000;
  /*
  you can use hover styles here even though this size
  has the possibility of being a mobile device.
  */
}
/* line 98, ../scss/_768up.scss */
.nav li a:hover, .nav li a:focus {
  background-color: #dedede;
}
/* line 111, ../scss/_768up.scss */
.nav li ul.sub-menu,
.nav li ul.children {
  width: 200px;
  border: 1px solid #ccc;
  border-top: 0;
  position: absolute;
  display: none;
  z-index: 8999;
  /* highlight sub-menu current page */
}
/* line 119, ../scss/_768up.scss */
.nav li ul.sub-menu li,
.nav li ul.children li {
  /*
  if you need to go deeper, go nuts
  just remember deeper menus suck
  for usability. k, bai.
  */
}
/* line 121, ../scss/_768up.scss */
.nav li ul.sub-menu li a,
.nav li ul.children li a {
  padding-left: 10px;
  border-right: 0;
  display: block;
  width: 180px;
  border-bottom: 1px solid #ccc;
}
/* line 138, ../scss/_768up.scss */
.nav li ul.sub-menu li:last-child a,
.nav li ul.children li:last-child a {
  border-bottom: 0;
}
/* line 160, ../scss/_768up.scss */
.nav li:hover ul {
  top: auto;
  display: block;
}

/* end .nav */
/*********************
SIDEBARS & ASIDES
*********************/
/* line 180, ../scss/_768up.scss */
.sidebar {
  /* margin-top: 2.2em; */
}

/* line 184, ../scss/_768up.scss */
.widgettitle {
  border-bottom: 2px solid #444;
  /* margin-bottom: 0.75em; */
}

/* line 189, ../scss/_768up.scss */
.widget {
  /* padding: 0 10px; */
}
/* line 194, ../scss/_768up.scss */
.widget ul li {
  margin-bottom: 0.75em;
  /* deep nesting */
}
/* line 202, ../scss/_768up.scss */
.widget ul li ul {
  margin-top: 0.75em;
  padding-left: 1em;
}

/* links widget */
/* meta widget */
/* pages widget */
/* recent-posts widget */
/* archives widget */
/* tag-cloud widget */
/* calendar widget */
/* category widget */
/* recent-comments widget */
/* search widget */
/* text widget */
/*********************
FOOTER STYLES
*********************/
/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
/* line 310, ../scss/_768up.scss */
.footer-links ul li {
  /*
  be careful with the depth of your menus.
  it's very rare to have multi-depth menus in
  the footer.
  */
}

/* end .footer-links */
/******************************************************************
Site Name: Free Minecraft Wordpress Theme
Author: Andrew Vieau

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/
/* line 12, ../scss/_1030up.scss */
#desc {
  right: 20%;
}

/* 
you can call the larger styles if you want, but there's really no need 
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
